header {
    background: white;
    text-transform: capitalize;
    left: 0;
    margin-left: 0;
    text-align: center;
    padding-left: 0;
}
.allbody {
    display: block;
}
.navig {
    height: 60px;
    overflow: hidden;
}
.navig li:hover > a {
    background: initial;
}
.navig li.desklastchild a {
    border-right: 1px solid #2b2c57;
}
#pdiv {
    margin-left: initial;
    background: white;
    margin-bottom: 100vh;
}
#logodiv {
    position: fixed;
    bottom: 0;
    border-right: 0;
    z-index: -1;
    background: #2b2c57;
    min-height: 100vh;
    min-width: 100%;
    overflow-y: initial;
    direction: initial;
}
#logodiv * {
    color: white;
}
#container p {
    padding: 20px;
}
#logodiv > div {
    direction: initial;
}
#container {
    padding-bottom: 10px;
}
#pdiv:after {
    display: none;
}
#pdiv > *:last-child {
    margin-bottom: initial;
}
h1 {
    width: 260px;
    height: 260px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
}
main h2 {
    margin-top: 40px;
}
.readblock {
    display: initial;
}
p {
    padding: 5px 15px;
}
#firstinfo {
    background-attachment: fixed;
    background-color: white;
    background-size: cover;
}
.writeus {
    border: 1px solid white;
}
.socials li {
    background: transparent;
}
.socials li:hover {
    background: rgba(255,255,255,.6);
    border: initial;
}
.showmobilefirst,
li.showmobilefirst {
    display: inline-block;
}
@media screen and (max-width:600px) {
    .hidemobile {
        display: none;
    }
    .showmobile, li.showmobile {
        display: initial;
    }
}