header {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 0;
    text-align: center;
    width: 100%;
    height: 45px;
    background: rgba(255,255,255,.7);
    text-transform: capitalize;
    z-index: 10;
}
header ul li a {
    text-decoration: none;
}
.navig {
    list-style: none;
    width: auto;
}
.navig li {
    display: inline-block;
}
.navig li a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #2b2c57;
    border-right: 1px solid #2b2c57;
    margin: 0;
    color: black;
    line-height: 45px;
    height: 100%;
    transition: .2s ease-in;
}
.navig li:first-child a {
    border-left: 2px solid #2b2c57;
}
.navig li:last-child a {
    border-right: 2px solid #2b2c57;
}
.navig li.desklastchild a {
    border-right: 2px solid #2b2c57;
}
.navig li:hover > a {
    background: white;
    border-bottom: 5px solid orange;
}
.allbody {
    display: block;
}
.navig {
    height: 45px;
    overflow: hidden;
}
.navig li:hover > a {
    background: initial;
}
.navig li.desklastchild a {
    border-right: 1px solid #2b2c57;
}
#pdiv {
    margin-left: initial;
    background: white;
    margin-bottom: 100vh;
}
#logodiv {
    position: fixed;
    bottom: 0;
    border-right: 0;
    z-index: -1;
    background: #2b2c57;
    min-height: 100vh;
    min-width: 100%;
    overflow-y: initial;
    direction: initial;
    transform: translateX(0);
}
#logodiv * {
    color: white;
}
#container p {
    padding: 20px;
}
#logodiv > div {
    direction: initial;
}
.division {
    padding: 35px 0;
}
#container {
    padding-bottom: 10px;
}
#pdiv {
    padding-top: 0;
}
#pdiv:after {
    display: none;
}
#pdiv > *:last-child {
    margin-bottom: initial;
}
h1 {
    width: 260px;
    height: 260px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
}
main h2 {
    margin-top: 40px;
}
#banner {
  margin-top: 45px;
}
.readblock {
    display: initial;
}
p {
    padding: 5px 15px;
}
#firstinfo {
    background-attachment: fixed;
    background-color: white;
    background-size: cover;
}
.writeus {
    border: 1px solid white;
}
.socials li {
    background: transparent;
}
.socials li:hover {
    background: rgba(255,255,255,.6);
    border: initial;
}
.showmobilefirst,
li.showmobilefirst {
    display: inline-block;
}
@media screen and (max-width:600px) {
    .hidemobile {
        display: none;
    }
    .showmobile, li.showmobile {
        display: initial;
    }
}
/* Handmade by Axel Fiolle - ax.fiolle@gmail.com */