* {
    box-sizing: border-box;
}
*::-webkit-scrollbar { 
    display: none; 
}
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed";
}
ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

h1, h2 {
    color: #2b2c57;
    font-family: "Josefin Sans";
    font-size: 1.6em;
    width: auto;
}
h1 {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: auto;
    width: 100%;
    height: 160px;
    background-image: url("../img/4WINGS_Logotype_3lignes_positif_rvb.jpg");
    background-size: 255px;
    background-position: center;
    background-size: contain;
}
main h2 {
    font-size: 2em;
    margin-top: 20vh;
}
#why {
    margin-top: initial;
}
main h2:before {
    content: "";
    display: block; 
    float: left;
    height: 30px;
    width: 30px;
    background: #2b2c57;
    border-radius: 50%;
    transform: translateX(-27.5px);
    z-index: 5;
    position: relative;
}
main h2:after {
    content: "";
    display: block;
    height: 5px;
    margin-left: 22px;
    width: 100px;
    border-bottom: 3px solid #2b2c57;
}
.box {
    /*background: rgba(43,44,87,.6);*/
}
header {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 300px;
    text-align: center;
    width: 100%;
    height: 60px;
    background: rgba(255,255,255,.85);
    /*background: linear-gradient(white,rgba(255,255,255,.7));*/
    border-bottom: 2px solid #2b2c57;
    z-index: 10;
}
header ul li a {
    text-decoration: none;
}
.navig {
    list-style: none;
    width: auto;
}
.navig li {
    display: inline-block;
}
.navig li a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #2b2c57;
    border-right: 1px solid #2b2c57;
    margin: 0;
    color: black;
    line-height: 60px;
    height: 100%;
    transition: .2s ease-in;
}
.navig li:first-child a {
    border-left: 2px solid #2b2c57;
}
.navig li:last-child a {
    border-right: 2px solid #2b2c57;
}
.navig li:hover > a {
    background: white;
    border-bottom: 5px solid orange;
}
.allbody {
    display: flex;
    height: 100vh;
    width: 100%;
}
.innerbody {
    margin: auto;
    padding: 20px;
    max-width: 600px;
}

#pdiv {
    margin-left: 300px;
    padding: 10px;
    padding-top: 60px;
    width: 100%;
}
#pdiv > *:last-child {
    margin-bottom: 100px;
}
#pdiv:after {
    content: "";
    display: block;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent,white);
    position: fixed;
    bottom: 0;
}
p {
    color: #b8baf5;
    font-size: 1.2em;
}
p.maxw {
    max-width: 800px;
    margin: 0 auto;
}
p.info {
    background: #2b2c57;
    color: white;
    padding: 15px;
}
p.quote {
    text-align: center;
    font-size: 1.2em;
    color: #2b2c57;
    border-top: 2px dashed #DDD;
    border-radius: 5px;
    padding: 5px 10px;
    max-width: 350px;
    margin: 15px auto;
}
p.self {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}
.readblock {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 2%;
    max-width: 600px;
    margin: 35px auto;
}
.inimg {
    display: block;
    max-width: 400px;
    margin: 0 auto;
}
.fitimg {
    max-width: 100%;
}
#firstinfo {
    background-color: white;
    background-image: url("../img/4wings_brochure_images_6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    font-size: 1.5em;
}
/*.fleft {
    float: left;
    width: 30%;
}
.clearboth {
    clear: both;
}*/
strong {
    font-size: 1.1em;
    color: orange;
}
.socials {
    padding: 0;
}
.socials li {
    display: inline-block;
    /*text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;*/
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid grey;
    transition: .2s ease-out;
}
.socials li:last-child {
    margin-right: 0;
}
.socials li:hover {
    transform: scale(1.2);
    border: 1px solid orange;
}
.endlogo {
    margin-top: 60px;
}
footer {
    float: left;
    text-align: center;
    margin-left: 300px;
}
#logodiv {
    position: fixed;
    text-align: center;
    height: 100vh;
    width: 300px;
    font-size: 1em;
    border-right: 5px solid #2b2c57;
    overflow-y: scroll;
    direction: rtl;
    z-index: 20;
    background: white;
}
#logodiv > div {
    direction: ltr;
}
#logodiv * {
    color: #2b2c57;
}
#logodiv a {
    color: white;
}
.writeus {
    display: block;
    padding: 15px;
    background: #2b2c57;
    text-decoration: none;
    border-radius: 4px;
    transition: .2s ease-out;
    margin-bottom: 20px;
}
.writeus:hover {
    background: orange;
    transform: scale(1.1);
}
.showmobile {
    display: none;
}